autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
fake-useragent==0.1.11
Flask==2.0.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
pycodestyle==2.7.0
requests==2.26.0
sgmllib3k==1.0.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
